@import "../../vars.scss";

.job-container {
    align-items: center;
    background-color: #fff;
    background-color: $background-white;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 1rem;
}

.details-container {
    ul {
        li {
            list-style-type: square;
            padding-bottom: 10px;
        }
    }
}

@media screen and (min-width: 768px) {
    .details-container {
        padding: 0 3rem 1rem;
    }
}