<div class="body">
  <video autoplay muted loop id="mainVideo">
    <source src='assets/images/home.mp4' width="1920px" height="1080px" type="video/mp4"
    poster='assets/images/home.jpg'>
  </video>
  
  <div id="mainNav" class="header-container row">
    <div class="constrainer">
      <div class="main-header">
        <h1 class="col-xs-12">{{title}}</h1>
        <nav class="col-xs-12">
          <a routerLink="/">Home</a>
          <a routerLink="/cats">Cats</a>
        </nav>
      </div>  
    </div>
  </div>
  <div id="mainContainer" class="main-container row">
    <router-outlet></router-outlet>
  </div>
</div>