img.image {
    &:hover {
        filter: brightness(0.75);
    }
}
ul {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
    overflow: hidden;
    padding-inline-start: 0 !important;

    li {
        list-style-type: none;

        img.thumb {
            border-radius: 5px;
            margin: 0 5px;
            max-height: 200px;

            &:hover {
                filter: brightness(0.75);
            }
        }
        .thumb-container {
            position: relative;

            caption {
                background-image: linear-gradient(to right,rgba(0,0,0,.1),rgba(0,0,0,.25),rgba(0,0,0,.5),rgba(0,0,0,.25),rgba(0,0,0,.1));
                border-radius: 0 0 5px 5px;
                bottom: 0;
                box-sizing: border-box;
                color: #fff;
                padding: 5px;
                position: absolute;
                text-align: center;
                width: 100%;
            }
        }
    }
}
.single-image {
    background-color: rgb(37, 36, 36);
    bottom: 0%;
    display: none;
    height: 100%;
    left: 0%;
    position: absolute;
    right: 0%;
    top: 0%;
    width: 100%;

    img {
        display: none;
        max-height: 500px;
        text-align: center;
        vertical-align: middle;
    }
}
.single-image.show {
    align-items: center;
    display: flex;
    justify-content: center;

    img {
        display: block;
    }
}
.image-container {
    position: relative;
}
.icons {
    background: rgba(255, 255, 255, 0.55);
    border-radius: 50%;
    font-size: 35px;
    height: 35px;
    line-height: 30px;
    margin-top: -16px;
    outline: 0;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 50%;
    transition: .5s ease-in-out;
    width: 35px;
    z-index: 8;

    &:hover {
        background: #fff;
    }
}
.prev-icon {
    left: 30px;
}
.next-icon {
    right: 30px;
}