<div class="main-container mt-4">
    <h2>Paintings:</h2>
    <div class="row mb-4">
        <div class="col-6 d-flex justify-content-center">
            <img class="img-fluid" src="../../assets/images/artwork/paintings/Angel Fish REH - 72.jpg" alt="Angel Fish" />
        </div>
        <div class="col-6">
            <img class="img-fluid" src="../../assets/images/artwork/paintings/Elephant -72.jpg" alt="Elephant" />
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-6 d-flex justify-content-center">
            <img class="img-fluid" src="../../assets/images/artwork/paintings/Bike - 72.jpg" alt="Bike" />
        </div>
        <div class="col-6">
            <img class="img-fluid" src="../../assets/images/artwork/paintings/Orange - 72.jpg" alt="Orange" />
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12 d-flex justify-content-center">
            <img class="img-fluid" src="../../assets/images/artwork/paintings/Moms - 72.JPG" alt="Mom's Painting" />
        </div>
    </div>
    <h2>Drawings:</h2>
    <div class="row mb-4">
        <div class="col-6 d-flex justify-content-center">
            <img class="img-fluid" src="../../assets/images/artwork/drawings/Fritz - 72.jpg" alt="Fritz" />
        </div>
        <div class="col-6">
            <img class="img-fluid" src="../../assets/images/artwork/drawings/Lovers -72.jpg" alt="Lovers" />
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-6 d-flex justify-content-center">
            <img class="img-fluid" src="../../assets/images/artwork/drawings/Kitten - 72.jpg" alt="Kitten" />
        </div>
        <div class="col-6">
            <img class="img-fluid" src="../../assets/images/artwork/drawings/Zorro - 72.jpg" alt="Zorro" />
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-6 d-flex justify-content-center">
            <img class="img-fluid" src="../../assets/images/artwork/drawings/Tanya - 72.jpg" alt="Tanya" />
        </div>
        <div class="col-6">
            <img class="img-fluid" src="../../assets/images/artwork/drawings/Man head - 72.JPG" alt="Man head" />
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-6 d-flex justify-content-center">
            <img class="img-fluid" src="../../assets/images/artwork/drawings/Squiggle Man Reclined - 72.jpg" alt="Squiggle man reclined" />
        </div>
        <div class="col-6">
            <img class="img-fluid" src="../../assets/images/artwork/drawings/WWII prep - 72.jpg" alt="WWII prep" />
        </div>
    </div>
</div>