<div class="body">
    <div id="mainNav" class="nav-container row">
          <div class="main-header">
            <nav>
              <a routerLink="/">Home</a>
              <a routerLink="/newhome">New Home</a>
              <a routerLink="/artwork">Artwork</a>
              <a routerLink="/cats">Cats</a>
            </nav>
          </div>  
      </div>
      <div id="mainContainer" class="main-container">
        <div class="">
          <router-outlet></router-outlet>
        </div>
      </div>
</div>
