<h2>Objective</h2>

<div class="main-container">
    <div class="top-row row d-flex align-items-center">
        <div class="box-container col-md-9">
            <p class="objective">Seeking a position that will benefit from my strong work ethic and experience in website development as well as grow my abilities and knowledge</p>
        </div>

        <div class="img-container col-md-3">
            <a href="https://www.claytonhomes.com/dream-to-reality/" target="_blank">
                <img class="img-fluid dream-img" src="../../assets/images/dream-to-reality.png" alt="Dream to Reality" />
            </a>
        </div>
    </div>
    <div class="second-row row">
        <app-knowledge></app-knowledge>
    </div>
    <div class="third-row row">
        <app-experience></app-experience>
    </div>
    <div class="fourth-row row">
        <div class="education-container">
            <h3>Education</h3>
            <div class="entry">
                <h4>Coding Dojo - Bootcamp</h4>
                <p>Black Belt - MERN Stack</p>
            </div>
            <div class="entry">
                <h4>Pellissippi State Technical Comminity College, Knoxville, TN</h4>
                <p>Associate of Applied Science Degree in Media Technologies - Web</p>
            </div>
            <div class="entry">
                <h4>University of Tennessee, Knoxville, TN</h4>
                <p>Completed three years of coursework (Painting/Drawing major)</p>
            </div>
        </div>
    </div>
</div>