@import "../../vars.scss";

.box-container {
    align-items: flex-start;
    display: flex;
    margin-bottom: 1rem;
    padding: 1rem 2rem 0; 
}
.objective,
.summary {
    font-size: 1.2em;
    font-style: italic;
    font-weight: 600;
    padding-left: 0;
    text-align: left;
}
.top-row {
    align-items: center;
    display: flex;
    padding-left: 1rem;
}
.img-container {
    .img-fluid {
        border-bottom: 5px solid $cream;
        border-right: 5px solid $cream;
        border-radius: 10px;
    }
}
@media screen and (max-width: 767px) {
    .box-container {
        margin-bottom: 1rem;
    }
    .top-row, 
    .second-row,
    .third-row {
        padding: 0 1rem;
    }
}
@media screen and (min-width: 768px) {
    .dream-img {
        height: 125px;
    }
}